﻿@{
     ViewBag.Title = "Welcome";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-3">
                <label class="label-success"> @ViewBag.Message</label>
            </div>
        </div>

    </div>
</body>
</html>
