<template>
    <div class="row q-pa-lg flex-center full-width">
        <div style="min-width: 1000px">
            <q-card class="my-card">
                <q-card-section>
                  <div class="row">
                      <q-item-label header>Files</q-item-label><q-space/>
                        <q-btn flat icon="create_new_folder" @click="addfile = true">
                          <q-tooltip>
                            New Folder
                          </q-tooltip>
                        </q-btn>
                    </div>
                </q-card-section>
                <q-separator/>
                <q-card-section>
                    <div class="row ">
                        <div class="col-2 q-pa-sm"
                            v-for="file in myfiles" 
                            :key="file.id">
                            <q-card class="my-card">
                                <q-img :src="'http://localhost:1200/Files/Upload/'+file.file">
                                    <div class="absolute-bottom">
                                      <div class="text-subtitle2">{{file.fileName}}</div>
                                    </div>
                                </q-img>
                            </q-card>
                        </div>
                    </div>
                </q-card-section>
            </q-card>

            <q-dialog
              v-model="addfile"
            >
              <q-card style="width: 300px">
                <q-card-section>
                  <div class="text-h6">New File</div>
                </q-card-section>

                <q-card-section class="q-pt-none">
                  <q-form
                      @submit="addFile"
                      class="q-gutter-md"
                    >
                        <input type="file" @change="mountImage">
                      <div>
                        <q-btn label="Submit" type="submit" color="primary"/>
                      </div>
                      <q-separator/>
                      <div v-if="imagepreview" class="mt-3">
                      <img :src="imagepreview" class="figure-img img-fluid rounded"  style="max-height:100px;">
                  </div>
                    </q-form>
                </q-card-section>
              </q-card>
            </q-dialog>
        </div>
    </div>
</template>

<script>
let token = JSON.parse(localStorage.getItem('myToken'));
export default {
  data(){
    return{
      addfile: false,
      myfiles : [],
      files : '',
      imagepreview: null,
    }
  },
  methods: {
    mountImage(e) {
        this.files = e.target.files[0];

        let reader = new FileReader();
        reader.readAsDataURL(this.files);
        reader.onload = e => {
            this.imagepreview = e.target.result;
        };
    },

    addFile() {
      console.log(this.files);
      let formData = new FormData();
      formData.append('files', this.files);

      this.$axios({
        method: 'post',
        url: 'http://localhost:1200/file/'+this.$route.params.folderId,
        data: formData,
        headers: {
            Authorization : 'Bearer '+  token.data.jwt,
            'Content-Type': 'application/json' 
          }
        })
          .then((response) => {
            this.addfile = false;
        }) 
          .catch(error => {console.log( 'the error has occured: ' + error) });

    }
  },

     created(){
      this.$axios({
            method: 'get',
            url: 'http://localhost:1200/file/'+this.$route.params.folderId,
            headers: {
              Authorization : 'Bearer '+ token.data.jwt
            }
            }).then((response) => {
              this.myfiles = response.data;
            }).catch(error => {console.log( 'the error has occured: ' + error) })
      },
}
</script>