<template>
    <div class="row q-pa-md">
      <div class="col-3 q-pa-sm">
           <div>
            <q-list bordered padding class="rounded-borders" style="max-width: 350px">
              <div class="row">
                <q-item-label header>Folders</q-item-label><q-space/>
                  <q-btn flat icon="create_new_folder" @click="addfolder = true">
                    <q-tooltip>
                      New Folder
                    </q-tooltip>
                  </q-btn>
              </div>

              <q-separator/>

              <q-item clickable v-ripple
                v-for="folder in folders"
                :key="folder.id">
                <q-item-section avatar top>
                  <q-avatar icon="folder" color="primary" text-color="white" />
                </q-item-section>

                <q-item-section>
                  <q-item-label lines="1">{{folder.name}}</q-item-label>
                  <q-item-label caption>{{folder.date}}</q-item-label>
                </q-item-section>

              </q-item>
            </q-list>
            <q-dialog
              v-model="addfolder"
            >
              <q-card style="width: 300px">
                <q-card-section>
                  <div class="text-h6">New Folder</div>
                </q-card-section>

                <q-card-section class="q-pt-none">
                  <q-form
                      @submit="addFolder"
                      class="q-gutter-md"
                    >
                      <q-input
                        filled
                        v-model="folderName"
                        label="Folder Name"
                      />

                      <div>
                        <q-btn label="Submit" type="submit" color="primary"/>
                      </div>
                    </q-form>
                </q-card-section>

              </q-card>
            </q-dialog>
          </div>
      </div>
      <div class="col q-pa-sm">
          <div>
            <q-card class="my-card">
                <q-card-section>
                    <div class="row ">
                        <div class="col-2 q-pa-sm"
                            v-for="fold in folders" 
                            :key="fold.id">
                            <q-card class="my-card">
                                <q-img src="../assets/folder.png">
                                    <div class="absolute-bottom">
                                    <div class="text-subtitle2">{{fold.name}}</div>
                                    </div>
                                </q-img>

                                <q-card-actions>
                                  
                                    <q-btn :to="/files/ +fold.id" flat>{{ fold.name }}</q-btn>
                                </q-card-actions>
                            </q-card>
                        </div>
                    </div>
                </q-card-section>
            </q-card>
        </div>
      </div>
    </div>
</template>

<script>
let token = JSON.parse(localStorage.getItem('myToken'));
export default {
  data(){
    return{
      addfolder: false,
      folderName: '',
      folders : []
    }
  },
  methods: {
    addFolder() {
      this.addNewFolder(this.folderName);
    },

    addNewFolder(Name) {
        this.$axios({
        method: 'post',
        url: 'http://localhost:1200/folders',
        data: JSON.stringify({Name}),
        headers: {
            Authorization : 'Bearer '+  token.data.jwt,
            'Content-Type': 'application/json' 
          }
        })
          .then((response) => {
            this.addfolder = false;
          }) 
          .catch(error => {console.log( 'the error has occured: ' + error) })
      }
    },

     created(){
      this.$axios({
            method: 'get',
            url: 'http://localhost:1200/folders',
            headers: {
              Authorization : 'Bearer '+ token.data.jwt,
              'Content-Type': 'application/json' 
            }
            }).then((res) => {
              this.folders = res.data
            }).catch(error => {console.log( 'the error has occured: ' + error) })
      }
}
</script>