<template>
  <div class="form q-pa-md" style="max-width: 400px">
    <q-card class="my-card bg-secondary text-white">
      <q-card-section>
        <div class="text-h6">Personal File Management</div>
      </q-card-section>
      <q-form
        @submit="userLogin"
        class="q-gutter-md"
      >
        <q-input
          filled
          v-model="log.Username"
          label="Username"
        />

        <q-input
          filled
          v-model="log.Password"
          label="Password"
        />
        <div>
          <q-btn label="Login" type="submit" color="primary"/>
        </div>
      </q-form>

  <q-separator dark />
</q-card>
</div>
</template>


<script>
import{mapActions, mapGetters, mapState} from 'vuex'
export default {
  name: 'PageIndex',

  data () {
    return {

      tab: 'mails',
      reg : {
        firstname : "",
        uname : "",
        pword : "",
      },
      log : {
        Username : "mjoy123",
        Password : "pass123"
      },
    }
  },
  methods:{
    ...mapActions('usermodule', ['register', 'login']),
    userRegister(){
      this.register(this.reg).then(this.$router.push('/signin'));
    },
    userLogin(){
      this.login(this.log).then(this.$router.push('/home'));
    }
  }
}
</script>

<style>
.form{
  margin-left: 500px;
  margin-top: 50px;
}
</style>