﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="Pbook" >
   
		<input type="text" placeholder="Enter Your Name" v-model="inputname">
		<input type="number" placeholder="Enter Your Number"  v-model="inputnumber">
		<button type="submit" @@click="add">Add</button>
		<br>
		<br>	

		<table >

				<tr>
						   <th>Name</th>
						   <th>Number</th>
						   <th>Action</th>
					 
				</tr>

				<tr v-for="(addname, index) in inputs">
					<td><input type="text" v-model="addname.name"></td>
					<td><input type="number" v-model="addname.number"></td>
					<td><button type="button" @@click="deleteLine(index)">X</button></td>
					
				</tr>


		</table>

</div>
